@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Reem+Kufi+Ink&family=Titillium+Web&display=swap");
header nav {
  background-color: white;
}
header nav .logo {
  width: 140px;
  height: 50px;
}
header nav .logo:hover {
  transform: scale(1.1);
}
header nav li:hover {
  transform: scale(1.1);
}

@media (max-width: 575.98px) {
  nav li:hover {
    transform: none;
  }
}
main .titulo-hero {
  color: white;
}

section {
  /* contacto */
}
section form .boton-contacto {
  border: 1px solid #B01B39;
  background-color: #B01B39;
  color: white;
  padding: 10px;
}
section form .form-control {
  border-bottom: 1px solid #B01B39;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0%;
}
section .iconos-redes a {
  font-size: 30px;
}
section .iconos-redes a:hover {
  transform: scale(1.2);
}

/* portada */
.portada {
  background-color: #B01B39;
}

.titulo-portada, .texto-portada p, h4 {
  color: white;
}

.texto-portada span {
  color: #262223;
}

.boton-portada, #registrate .boton-registro {
  border: 1px solid white;
  background-color: white;
  color: #B01B39;
}

/* UBICACION */
#ubicacion {
  height: 400px;
}

.mapa iframe {
  width: 100%;
  height: 100%;
}

.ubicacion h3 {
  font-family: "Montserrat", sans-serif;
}

.ubicacion p {
  font-family: "Open Sans", sans-serif;
}

/* ====================== EMPIEZA DIAS Y HORARIOS  ===================*/
#dias-horarios {
  background-color: #262223;
}

/* ====================== TERMINA DIAS Y HORARIOS  ===================*/
/* ====================== EMPIEZA ENTRENADORES  ===================*/
#entrenadores .titulo-entrenadores {
  border: 1px solid #B01B39;
  background-color: #B01B39;
  color: white;
}
#entrenadores .card-title {
  color: black;
  background-color: rgba(128, 128, 128, 0.783);
  border-radius: 10px solid #262223;
}
#entrenadores .card:hover img {
  opacity: 0.3;
  transform: scale(1.1);
}
#entrenadores .texto-entrenadores {
  display: none;
}
#entrenadores .card:hover .texto-entrenadores {
  display: block;
}

/* ====================== TERMINA ENTRENADORES  ===================*/
/* ====================== EMPIEZA REGISTRATE  ===================*/
#registrate .boton-registro {
  background-color: #B01B39;
  color: white;
}
#registrate .formulario-registro {
  border: 1px solid #B01B39;
}
#registrate .formulario-registro a {
  color: #B01B39;
}

.form-control {
  border: 1px solid #B01B39;
}

.titulo-registrate, main .titulo-hero {
  background-color: #B01B39;
}
.titulo-registrate h1, main .titulo-hero h1 {
  color: white;
}

/* ====================== TERMINA REGISTRATE  ===================*/
/* ====================== EMPIEZA DIAS Y HORARIOS  ===================*/
/* ====================== TERMINA DIAS Y HORARIOS  ===================*/
@media (max-width: 575.98px) {
  .texto-portada {
    width: 90% !important;
  }
  .texto-portada p {
    display: none;
  }
  .texto-entrenadores {
    width: 180px;
  }
}
footer {
  height: auto;
  background-color: #B01B39;
}

.copyright {
  color: white;
}
.copyright i {
  color: white;
}

.boton-redondo {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #262223;
  transition: background 0.5s;
}
.boton-redondo i {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 0 !important;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=style.css.map */