footer{
    height: auto;
    background-color: $color-bordo;
    }
    .copyright{
        color: $color-blanco;

        & i{
            color: $color-blanco;
        }
    }
    .boton-redondo{
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $color-gris;
        transition: background 0.5s;
        & i{
            color: $color-blanco;
        }
    }
