main{
    .titulo-hero{
        @extend .titulo-registrate;
        color: $color-blanco;
    }
}
section{
    
    
    /* contacto */
    form{
        .boton-contacto{
            border: 1px solid $color-bordo;
            background-color: $color-bordo;
            color: $color-blanco;
            padding: 10px;
        }
        .form-control{
            border-bottom: 1px solid $color-bordo;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0%;    
        }
        
    }
    .iconos-redes a{
        font-size: 30px;
    &:hover {
        transform: scale(1.2);
    }
}
}
    /* portada */
    .portada{
        background-color: $color-bordo;
    }
    .titulo-portada{
        color: $color-blanco;
    }
    .texto-portada p, h4{
        @extend .titulo-portada;
    }
    .texto-portada span{
        color: $color-gris;
    }
    .boton-portada{
        border: 1px solid $color-blanco;
        background-color: $color-blanco;
        color: $color-bordo;
    }
/* UBICACION */
    #ubicacion{
        height: 400px;
    }
    .mapa iframe{
        width: 100%;
        height: 100%;
    }
    .ubicacion h3{
        font-family: $letra-monserrat;
    }
    .ubicacion p {
        font-family:$letra-open ;
    }

/* ====================== EMPIEZA DIAS Y HORARIOS  ===================*/   
#dias-horarios{
    background-color: $color-gris;
}
/* ====================== TERMINA DIAS Y HORARIOS  ===================*/    

/* ====================== EMPIEZA ENTRENADORES  ===================*/  
#entrenadores{
    .titulo-entrenadores{
        border: 1px solid $color-bordo;
        background-color: $color-bordo;
        color: $color-blanco;
    }
    .card-title{
        color: black;
        background-color: rgba(128, 128, 128, 0.783);
        border-radius: 10px solid $color-gris;
    }
    .card:hover img{
        opacity: .3;
        transform: scale(1.1);
    }
    .texto-entrenadores{
        display: none;
    }
    .card:hover .texto-entrenadores{
        display: block;
    }

    }
    

/* ====================== TERMINA ENTRENADORES  ===================*/  

/* ====================== EMPIEZA REGISTRATE  ===================*/    
#registrate{
    .boton-registro{
        @extend .boton-portada;
        background-color: $color-bordo;
        color: $color-blanco;
    }
    .formulario-registro{
        border: 1px solid $color-bordo;

        & a{
            color: $color-bordo
        }
    }
    }
    .form-control{
        border: 1px solid $color-bordo;   
    }
    .titulo-registrate{
        background-color: $color-bordo;

        & h1{
            color: $color-blanco;
        }
    }

/* ====================== TERMINA REGISTRATE  ===================*/  

/* ====================== EMPIEZA NOSOTROS  ===================*/    
.titulo-nosotros{
    border: 1px solid $color-bordo;
    background-color: $color-bordo;
    color: $color-blanco;
}
/* ====================== TERMINA NOSOTROS  ===================*/  

 // X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .texto-portada{
        width: 90% !important;
    }
    .texto-portada p{
        display: none;
    }
    .texto-entrenadores{
        width: 180px;
    }
}
