section{
    /* contacto */
    form{
        .boton-contacto{
            border: 1px solid $color-bordo;
            background-color: $color-bordo;
            color: $color-blanco;
            padding: 10px;
        }
        .form-control{
            border-bottom: 1px solid $color-bordo;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0%;
            
        }
    }
}
    /* portada */
    .portada{
        background-color: $color-bordo;
    }
    .titulo-portada{
        color: $color-blanco;
    }
    .texto-portada p, h4{
        @extend .titulo-portada;
    }
    .texto-portada span{
        color: $color-gris;
    }
    .boton-portada{
        border: 1px solid $color-blanco;
        background-color: $color-blanco;
        color: $color-bordo;
    }
/* UBICACION */
    #ubicacion{
        height: 400px;
    }
    .mapa iframe{
        width: 100%;
        height: 100%;
    }
    .ubicacion h3{
        font-family: $letra-monserrat;
    }
    .ubicacion p {
        font-family:$letra-open ;
    }

/* ====================== EMPIEZA DIAS Y HORARIOS  ===================*/   
#dias-horarios{
    background-color: $color-gris;
}
/* ====================== TERMINA DIAS Y HORARIOS  ===================*/    

/* ====================== EMPIEZA ENTRENADORES  ===================*/    
/* ====================== TERMINA ENTRENADORES  ===================*/  

/* ====================== EMPIEZA REGISTRATE  ===================*/    
/* ====================== TERMINA REGISTRATE  ===================*/  

/* ====================== EMPIEZA DIAS Y HORARIOS  ===================*/    
/* ====================== TERMINA DIAS Y HORARIOS  ===================*/  

 // X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .texto-portada{
        width: 90% !important;
    }
    .texto-portada p{
        display: none;
    }
}
