@import "./variables";
@import "./header";
@import "./main";
@import "./footer";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Reem+Kufi+Ink&family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.texto-404{
    font-size: 6em;
    font-weight: bolder;
    margin-left: 30%;
    color: $color-blanco;
}
h1{
    margin-bottom: 0 !important;
}
a{
    color: black;
    text-decoration: none;

    &:hover{
        color: black;
    }
}
.row{
    margin-left: 0;
    margin-right: 0;
}

body{
    scroll-behavior: smooth;
    font-family: $letra-monserrat;
}